
h4 {
	text-align: center;
	padding-left: -15px;
}

/*.jumbotron {
	background-color: white;
	text-align: center;
}*/

.container-fluid {
	text-align: center;
}

body {
	margin: 30px;
}


p {
	color: black;
	text-align: center;
	font-size: 1.10rem;
}

.queries p:hover {
	color: red;
}

.pictures img {
    width: 150px;
    height: 85px;
    margin-bottom: 20px;
    margin-top: 10px;
}

