body {
	margin: 30px;
}

h5 {
	color: red;
}

p {
	margin-bottom: 0px;
	color: black;
}

.request a{
	color: red;
}

img {
	margin-top: 1.5rem;
}

.container-fluid{
	text-align: center;
}